@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* font-family: "Space Grotesk", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
/* font-family: "Roboto", sans-serif;  */


:root {
    --primary-font: "Roboto", sans-serif;
    --heading-font: "Space Grotesk", sans-serif;
    --button-color: #14F195;
    --purpal-color: #9945FF;
}


body {
    font-family: var(--primary-font);
    font-size: 16;
    font-weight: 400;
    background-color: #000000;
    color: #ffffff;
}
.headline {
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}
.marquee {
    height: 40px;
    position: relative;
    /* padding: 5px 0; */
    overflow: hidden;
}
.marquee p {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -35%;
    display: flex;
    align-items: center;
    color: #000000;
    animation: advertise 20s linear infinite;
}

@keyframes advertise {
    0% {
        left: -35%;
    }
    100% {
        left: 100%;
    }
}

/* Header Section */
.header {
    position: sticky;
    top: 0;
    padding: 15px 0;
    background-color: #000000;
    z-index: 9999;
}
.header .menu {
    display: flex;
}

.menu .item {
    margin: 0 15px;
    padding: 0 10px;
    position: relative;
}
.menu .item:last-child {
    margin-right: 0;
}
.menu .item .item_list {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000000;
}
.menu .item .item_list .list {
    /* margin: 6px 0; */
}
.menu .item .item_list .list a {
    width: 100%;
    padding: 6px 0;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    &:hover {
        background-color: var(--button-color);
    }
}
.item .linkBtn {
    border: none;
    outline: none;
    background: transparent;
    color: #848895;
}
.item .linkBtn span {
    display: inline-block;
    transition: .2s linear;
}
.item:hover .item_list{
    display: block;
}
.item:hover .linkBtn {
    color: #ffffff;
}
.item:hover .linkBtn span {
    transform: rotateZ(180deg);
}

/* Header Section */

/* Banner Section */
.banner {
    min-height: 100vh;
    position: relative;

}

.rectangle {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
        background-image: url(../images/Rectangle.png);
        background-size: cover;
}


.banner .title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner .title h1 {
    font-family: var(--heading-font);
    margin-bottom: 0;
    font-size: 94px;
}
.banner .title p {
    width: 390px;
    margin: 20px 0 40px;
    color: #C4C4C4;
}

.buttons {
    display: flex;
    gap: 10px;
}
.buttons button:last-child {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: .3s linear;
    &:hover {
        border-color: var(--button-color);
    }
    & span {
        margin-left: 5px;
        color: #848895;
    }
}

.banner_img {
    width: 550px;
    height: 678px;
    /* overflow: hidden; */
}
.banner_img img {
    animation: spin 8s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
        margin-bottom: 0;
    }
    50% {
        transform: rotateZ(180deg);
        margin-bottom: -50px;
    }
    100% {
        transform: rotateZ(-360deg);
        margin-bottom: 0;
    }
}
/* Banner Section */

/* Common Parts */
.common_btn {
    padding: 10px 20px;
    background-color: var(--button-color);
    border-radius: 24px;
    border: none;
    outline: none;
    text-transform: uppercase;
    line-height: 20px;
}
.common {
    margin-left: 20px;
}
.common h3 {
    font-family: var(--heading-font);
    font-size: 37px;
}
.common p {
    color: #C4C4C4;
}
/* Common Parts */

/* starting section */
.starting {}
.starting .getStart {}
.starting .getStart h3 {
    font-family: var(--heading-font);
    font-size: 48px;

}
.starting .getStart p {
    color: #C4C4C4;
}
.starting .big_box {
    margin-top: 32px;
    padding: 80px 70px;
    background-image: url(../images/box1.png);
    background-size: cover;
    border-radius: 18px;
    overflow: hidden;
}
.chapter {
    padding: 3px 11px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: var(--purpal-color);
    font-size: 14px;
    border-radius: 1rem;
}
.starting .big_box h2 {
    margin-top: 17px;
    font-family: var(--heading-font);
    font-size: 39px;
    line-height: 40px;
}
.starting .big_box p {
    width: 360px;
    margin: 29px 0 26px;
    font-size: 18px;
    color: #FFFFFF;
}
.big_box:hover .arrow {
    border-color: var(--button-color);
}
.big_box:hover .arrow a {
    color: var(--button-color);
}
.arrow {
    width: 30px;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #848895;
    transform: rotateZ(-45deg);
    cursor: pointer;
    &:hover {
        border: 1px solid var(--button-color);
    }
}
.arrow:hover a {
    color: var(--button-color);
}
.arrow a {
    color: #848895;
}

.starting .box {
    width: 346px;
    height: 320px;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.box .img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    inset: 0 0 0 0;
    z-index: 10;
}
.box .box_text {
    width: 300px;
    position: absolute;
    bottom: 40px;
    left: 30px;
    z-index: 20;
}
.box:hover .arrow {
    border-color: var(--button-color);
}
.box:hover .arrow a {
    color: var(--button-color);
}
.starting .box .link {

}
.starting .box_title span {}
/* starting section */

/* Deeper Section */
.deeper {
    padding: 128px 0 100px;
}

.parent {
    width: 346px;
    height: 282px;
    margin-top: 32px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.deeper .pages {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    z-index: 50;
}
.parent::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--purpal-color);
    box-shadow: 0 0 15px var(--purpal-color),
                0 0 30px var(--purpal-color),
                0 0 45px var(--purpal-color),
                0 0 60px var(--purpal-color),
                0 0 75px var(--purpal-color);
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    transition: .3s linear;
    z-index: 40;
}
.parent::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
    background-color: #19161C;
}
.parent:hover::before {
    top: 100%;
}

.deeper .pages .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pages .content span {
    font-size: 14px;
    color: var(--purpal-color);
    text-transform: uppercase;
}
.deeper .pages .content h4 {
    margin: 8px 0 14px;
    font-size: 20px;
}
.deeper .pages .content p {}
.deeper .pages .content .link {}
.content .link a {
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        color: var(--purpal-color);
        & span {
            color: var(--purpal-color);
        }
    }
}
.content .link a span {
    display: inline-block;
    margin-left: 10px;
    color: #848895;
    transform: rotateZ(-45deg);
}
.pages:hover .link a {
    color: var(--purpal-color);
}
.pages:hover .link a span {
    color: var(--purpal-color);
}
/* Deeper Section */

/* Docs Section */
.docs {
    padding-top: 75px;
    background: linear-gradient(180deg, #19161C 0%, #000000 100%);
}
.docs .docs_box {
    width: 522px;
    margin-top: 48px;
}
.docs .docs_box .up {
    padding: 0 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #848895;
}
.docs .docs_box .up h4 {
    margin: 0;
    font-size: 32px;
}
.docs .docs_box .up_link {}
.docs .docs_box .up_link a {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 24px;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    transition: .3s linear;
    &:hover {
        border-color: var(--button-color);
        color: var(--button-color);
        & span {
            color: var(--button-color);
        }
    }
    & span {
        margin: 0 0 0 10px;
        display: inline-block;
        color: #848895;
        transform: rotateZ(-45deg);
        transition: .3s linear;
    }
}
.docs .docs_box .down {
    margin: 30px 0 0 0;
}

.changelog {
    width: 522px;
    margin: 100px 0 0 0;
}
.changelog h4 {
    font-family: var(--heading-font);
    font-size: 40px;
}
.changelog p {
    margin: 20px 0 30px;
}
.changelog a {
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    color: #FFFFFF;
    transition: .3s linear;
    &:hover {
        color: var(--button-color);
        border-color: var(--button-color);
    }
}

.form {
    width: 530px;
    margin: 50px 0 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #19161C;
    border-radius: 14px;
    box-shadow: 0px 58px 80px 0px #00000029;
}
.form h4 {
    font-size: 36px;
    font-weight: 400;
}
.form p {
    margin: 30px 0 50px;
    color: #C4C4C4;
}
form .input {
    padding: 17px 14px;
    position: relative;
    background-color: #0A0A0A;
    border-radius: 24px;
}
form .input input {
    width: 75%;
    border: none;
    outline: none;
    background: transparent;
    color: #ffffff;
}
form .input button {
    padding: 8px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    outline: none;
    background: var(--button-color);
    text-transform: uppercase;
    color: #000000;
    border-radius: 24px;
}
.live {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.live a {
    width: 48%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .3s linear;
    &:hover {
        border-color: var(--button-color);
    }
}
.live a .youtube, 
.live a .podcast {
    margin-left: 10px;
    font-size: 20px;
}
.live a .youtube {
    width: 26px;
}
.live a .podcast {
    width: 24px;
}
/* Docs Section */

/* Footer Section */
.footer {
    margin-top: 80px;
    padding: 80px 0;
}
.footer .left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .left .logo{
    width: 30px;
}
.footer .left p {
    margin-top: 20px;
}
.left .socials {
    margin: 20px 0;
    display: flex;
    gap: 8px;
}
.left .socials span {
    padding: 0 5px;
    display: inline-block;
    background-color: #848895;
    border-radius: 8px;
    color: #000000;
    transition: .3s linear;
    &:hover {
        background-color: var(--button-color);
        color: var(--purpal-color);
    }
}
.copyText .creadit {
    color: var(--button-color);
}
.copyText p {
    color: #848895;
}
.footer .right {}
.footer .right h5 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.footer .right ul {}
.footer .right ul li {
    margin-top: 13px;
}
.footer .right ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #848895;
    &:hover {
        color: var(--button-color);
    }
}
.footer .right .gray {
    color: #848895;
}
/* Footer Section */